@import 'tailwindcss';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@keyframes navbar-menu {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes navbar-menu-close {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-navbar-menu {
  animation: navbar-menu 0.3s ease-in-out;
}

.animate-navbar-menu-close {
  animation: navbar-menu-close 0.3s ease-in-out forwards;
}

input#email:focus-within {
  box-shadow:
    0px 0px 0px 1px #444ce7,
    0px 1px 2px 0px rgba(16, 24, 40, 0.05),
    0px 0px 0px 4px rgba(68, 76, 231, 0.12);
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  90% {
    opacity: 1;
  }
}